<div ng-controller='customersController'>
	<form>
		<fieldset>
			<legend>Add a new customer</legend>
		<label for="name">customer name </label>
		<input type="text" ng-model = 'newCustomer.name'><br>
		<input type="button" value = "Add" ng-click = 'addCustomer()' class = 'btn btn-success'>
		</fieldset>
	</form>
	search name:
		<input type="text" ng-model = "filter">
		<table class = 'table'>
			<tr>
				<th>Customer Name</th>
				<th>Created Date</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat = "customer in customers | filter:filter | orderBy:'created_at'">
				<td ng-bind = 'customer.name'></td>
				<td ng-bind = 'customer.created_at'></td>
				<td><button ng-click = 'removeCustomer(customer)' class = 'btn btn-danger'>Remove</button></td>
			</tr>
		</table>
</div>